@CHARSET "UTF-8";
/* Harris Christiansen */
/* Created 9-15-12 */


html, body {
	background: #FFFFFF;
	background: url(/Resources/images/textures/furley_bg.png) repeat;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 14px;
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	color:#CCCCCC;
}

hr {
	width: 100%;
}

.centerInnerContent {
	text-align: center;
}

.clearCont {
	clear: both;
}

/* ----- Header ----- */

#navBar {
	text-align: center;
	overflow: hidden;
	width: 100%;
	height: 35px;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #234756;
	color: #FFFFFF;
	border-bottom: 1px solid #000000;
}

.headLeftSide {
	text-align: left;
	float: left;
	width: 30%;
	min-width: 420px;
	overflow: hidden;
	padding-left: 10px;
	height: 25px;
	padding-top: 8px;
}

.singleLineLoginField {
	display: inline;
}

#navMenu {
	margin: 0px;
	padding: 0px;
}
.navItem, .navItemRight {
	border-right: 2px groove #FFFFFF;
	padding-right: 3px;
	display: inline;
}
.navItem:last-child, .navItemRight:last-child {
	border-right: none;
}

.headCenter {
	text-align: center;
	float: center;
	overflow: hidden;
	height: 25px;
	padding-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
}

.headRightSide {
	text-align: right;
	float: right;
	width: 30%;
	overflow: hidden;
	padding-right: 10px;
	height: 25px;
	padding-top: 8px;
}

/* ----- Footer ----- */

#footBar {
	text-align: center;
	overflow: hidden;
	width: 100%;
	height: 35px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: #73B1CB;
	color: #FFFFFF;
	border-top: 1px solid #000000;
}

.footLeftSide {
	text-align: left;
	float: left;
	overflow: hidden;
	padding-left: 10px;
	height: 25px;
	padding-top: 8px;
}

.footRightSide {
	text-align: right;
	float: right;
	overflow: hidden;
	padding-right: 10px;
	height: 25px;
	padding-top: 8px;
}

#menuBarChatItem {
	width: 32px;
	height: 32px;
	margin-left: 10px;
	background: url(/Resources/images/icons/chatIcon.png)top no-repeat;
	float: right;
	margin-top: -6px;
}

#menuBarChatItem:hover {
	background: url(/Resources/images/icons/chatIcon.png)bottom no-repeat;
}

/* ----- Breadcrumbs Bar ----- */

#breadcrumbsBar {
	background-color: #73B1CB;
	height: 18px;
	font-size: 14px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	position: fixed;
	left: 0px;
	bottom: 36px;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
}

/* ----- Chat Window ----- */
#chatWindow {
	width: 265px;
	height: 350px;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	position: fixed;
	right: 5px;
	bottom: 36px;
	display: none;
	color: #000000;
	text-align: left;
}
#chatWindowHead {
	width: 100%;
	height: 22px;
	font-size: 18px;
	text-align: center;
	background-color: #0F8BBF;
	color: #333333;
	border-bottom: 1px solid #000000;
}
#chatWindowCont {
	height: 260px;
	width: 100%;
	font-size: 12px;
	overflow-y: scroll;
}
#chatWindowField {
	border-top: 1px solid #000000;
	height: 66px;
	width: 100%;
}
.chatWindowMsg {
	border-bottom: 1px solid #AAAAAA;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-left: 2px;
	padding-right: 2px;
}
.chatWindowMsgSender {
	font-weight: bold;
	display: inline;
}
#chatWindowTextarea {
	width: 259px;
	height: 60px;
	resize: none;
	background-color: #DDDDDD;
}

/* ----- Site Divisions ----- */

.FullWidthContentDivision {
	background-color: #0F8BBF;
	color: #FFFFFF;
	font-size: 14px;
	padding: 10px;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #000000;
	position: relative;
}

.FullWidthSuccessDivision {
	background-color: #009933;
	color: #FFFFFF;
	font-size: 14px;
	padding: 10px;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #000000;
}

.FullWidthFailureDivision {
	background-color: #CC0000;
	color: #FFFFFF;
	font-size: 14px;
	padding: 10px;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #000000;
}

.centerMsgClearBG {
	color: #000000;
	font-size: 14px;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	
}

.FullWidthPostHead {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	height: 20px;
	color: #FFFFFF;
	padding: 2px;
	background-color: #052E3F;
	overflow: hidden;
	text-align: center;
}

.FullWidthPostRow {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	padding: 2px;
	color: #FFFFFF;
	overflow: hidden;
	text-align: left;
	margin-bottom: 10px;
}

.FullWidthPostRow .editCommentDiv {
	width: 100%;
	background-color: #116d94;
	border-top: 2px solid #000000;
	padding-top: 5px;
}

.editCommentDiv {
	display: none;
	text-align: center;
}

.editCommentDiv textarea {
	width: 96%;
	height: 100px;
}

.centerTable {
	margin-left: auto;
	margin-right: auto;
}

/* ---------- Table System ---------- */

.FullWidthTable {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.FullWidthTableHead {
	width: 100%;
	margin-top: 15px;
	color: #FFFFFF;
	overflow: hidden;
	text-align: center;
}
.TableHeadColumn {
	height: 20px;
	background-color: #052E3F;
	margin-left: 2px;
}

.FullWidthTableRow {
	width: 100%;
	color: #FFFFFF;
	overflow: hidden;
	text-align: center;
	margin-top: 2px;
}
.TableRowItem {
	margin-left: 2px;
	background-color: #0F8BBF;
	padding: 5px;
}
.TableRowColumn {
	height: 34px;
	margin-left: 2px;
}

.FullWidthTableRow:nth-child(odd) .TableRowColumn, .FullWidthPostRow:nth-child(4n+2) {
	background-color: #0F8BBF;
}

.FullWidthTableRow:nth-child(even) .TableRowColumn, .FullWidthPostRow:nth-child(4n+0) {
	background-color: #0D78A5;
}

.FullWidthTableRow:hover .TableRowColumn {
	background-color: #45B0DF;
	cursor: pointer;
}

/* ----- Table Column Widths ----- */

/* Members List */

.membersListColumn1 {
	width: 50%;
}

.membersListColumn2 {
	width: 25%;
}

.membersListColumn3 {
	width: 25%;
}

/* Forums List */

.forumHomeColumn1 {
	width: 60%;
}
.TableRowColumn.forumHomeColumn1 {
	text-align: left;
	padding-left: 5px;
}

.forumHomeColumn2 {
	width: 5%;
}

.forumHomeColumn3 {
	width: 5%;
}

.forumHomeColumn4 {
	width: 29%;
}
.TableRowColumn.forumHomeColumn4 {
	font-size: 12px;
}
.TableRowColumn.forumHomeColumn4:hover {
	background-color: #3585cc;
}

/* Threads List */

.forumThreadsColumn1 {
	width: 40%;
}

.forumThreadsColumn2 {
	width: 24%;
}

.forumThreadsColumn3 {
	width: 25%;
}
.TableRowColumn.forumThreadsColumn3 {
	font-size: 12px;
	text-align: left;
	padding-left: 5px;
}

.forumThreadsColumn4 {
	width: 5%;
}

.forumThreadsColumn5 {
	width: 5%;
}

/* Forum Thread */
.forumPostColumn1 {
	width: 25%;
}
.forumPostColumn2 {
	width: 75%;
}
.TableRowItem.forumPostColumn2 {
	text-align: left;
}




/* ---------- Control Panel ---------- */
#controlPanel {
	width: 100%;
}
.controlPanelTitle {
	color: #FFFFFF;
	width: 100%;
	height: 25px;
	font-size: 20px;
	text-align: center;
	margin-bottom: 5px;
	background: #0F8BBF;
    background: -moz-linear-gradient(top,  #7db9e8 0%, #0f8bbf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#0f8bbf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#0f8bbf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7db9e8 0%,#0f8bbf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7db9e8 0%,#0f8bbf 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7db9e8 0%,#0f8bbf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#0f8bbf',GradientType=0 ); /* IE6-9 */

}

/* Control Panel Sidebar */
#controlPanelSidepanel {
	float: left;
	width: 250px;
	margin-left: 20px;
	margin-right: 20px;
	height: 100%;
}
.controlPanelSidepanelItem {
	background-color: #FFFFFF;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 24px;
}
.controlPanelSidePanelItemContent {
	padding-left: 3px;
}
.controlPanelNavItem {
	display: block;
	color: #000000;
}
.controlPanelNavItem:hover {
	color: #000000;
	font-weight: bold;
	padding-left: 3px;
}

/* Control Panel Content */

#controlPanelContent {
	float: left;
	width: 600px;
	width: calc(100% - 300px);
	background-color: #FFFFFF;
	padding-bottom: 8px;
}

#controlPanelNav2 {
	width: 14%;
	border-right: 1px solid #000000;
	height: 100%;
	float: left;
	overflow: scroll;
}

.controlPanelNav2Item {
	width: 89%;
	float: left;
	height: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #003366;
	color: #FFFFFF;
	padding-top: 3px;
}

#controlPanelContent2 {
	float: right;
	width: 84%;
	padding: 3px;
	min-height: 135px;
	height: 100%;
}

.CPNav2Funcs {
	width: 15px;
	height: 25px;
	float: left;
}
.CPNav2Func {
	width: 15px;
	height: 12px;
	display: block;
}

.CPNav2Cont {
	width: 95%;
	height: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
}



.floatLeft {
	float:left;
	text-align: left;
	padding-left: 5px;
}

.floatRight {
	float:right;
	text-align: right;
	padding-right: 5px;
}

.pageChangeBtns {
	color: #FFFFFF;
	font-size: 14px;
	margin-top: 20px;
	width: 98%;
	height: 52px;
	margin-left: auto;
	margin-right: auto;
}

.nextPageButton {
	display: block;
	background-color: #0F8BBF;
	float: left;
	width: 100px;
	height: 25px;
	padding: 10px 10px 15px 10px;
	border: 1px solid #000000;
}

.midButton {
	display: block;
	background-color: #0F8BBF;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 25px;
	padding: 17px 10px 8px 10px;
	border: 1px solid #000000;
}

.backPageButton {
	display: block;
	background-color: #0F8BBF;
	float: right;
	width: 100px;
	height: 25px;
	padding: 10px 10px 15px 10px;
	border: 1px solid #000000;
}

.pageChangeBtns a:hover{
	background-color: #0D78A5;
}

.blogCommentTextArea {
	width: 90%;
	height: 100px;
}

.newBlogEntryTextArea {
	width: 90%;
	height: 100px;
}

.newForumThreadTextArea, .newForumPostTextArea {
	width: 90%;
	height: 100px;
}