@CHARSET "UTF-8";
/* Harris Christiansen */
/* Created 9-15-12 */
/* Updated 5-31-12 */


html, body {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	color:#CCCCCC;
}

hr {
	width: 100%;
}

.centerInnerContent {
	text-align: center;
}

#navBar {
	text-align: center;
	overflow: hidden;
	width: 100%;
	height: 35px;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #234756;
	color: #FFFFFF;
	border-bottom: 1px solid #000000;
}

#footBar {
	text-align: center;
	overflow: hidden;
	width: 100%;
	height: 35px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: #73B1CB;
	color: #FFFFFF;
	border-top: 1px solid #000000;
}

.headFootLeftSide {
	text-align: left;
	float: left;
	width: 30%;
	overflow: hidden;
	padding-left: 10px;
	height: 25px;
	padding-top: 8px;
}

.singleLineLoginField {
	display: inline;
}

.navItemLink {
	border-right: 2px groove #FFFFFF;
	padding-right: 3px;
}

.navItemLink:last-child {
	border-right: none;
}

.headFootCenter {
	text-align: center;
	float: center;
	overflow: hidden;
	height: 25px;
	padding-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
}

.headFootRightSide {
	text-align: right;
	float: right;
	width: 30%;
	overflow: hidden;
	padding-right: 10px;
	height: 25px;
	padding-top: 8px;
}

#breadcrumbsBar {
	background-color: #73B1CB;
	height: 18px;
	font-size: 14px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	position: fixed;
	left: 0px;
	bottom: 36px;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
}

.FullWidthContentDivision {
	background-color: #0F8BBF;
	color: #FFFFFF;
	font-size: 14px;
	padding: 10px;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #000000;
	position: relative;
}

.FullWidthSuccessDivision {
	background-color: #009933;
	color: #FFFFFF;
	font-size: 14px;
	padding: 10px;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #000000;
}

.FullWidthFailureDivision {
	background-color: #CC0000;
	color: #FFFFFF;
	font-size: 14px;
	padding: 10px;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #000000;
}

.centerMsgClearBG {
	color: #000000;
	font-size: 14px;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	
}

.FullWidthTableHead {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	height: 20px;
	color: #FFFFFF;
	background-color: #FFFFFF;
	overflow: hidden;
	text-align: center;
}

.FullWidthTableRow {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	height: 34px;
	color: #FFFFFF;
	background-color: #FFFFFF;
	overflow: hidden;
	text-align: center;
}

.FullWidthPostHead {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	height: 20px;
	color: #FFFFFF;
	padding: 2px;
	background-color: #052E3F;
	overflow: hidden;
	text-align: center;
}

.FullWidthPostRow {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	padding: 2px;
	color: #FFFFFF;
	overflow: hidden;
	text-align: left;
	margin-bottom: 10px;
}

.TableHeadColumn {
	float: left;
	height: 100%;
	background-color: #052E3F;
	margin-left: 2px;
}

.TableRowColumn {
	float: left;
	height: 100%;
	margin-left: 2px;
	margin-top: 2px;
}

.FullWidthTableRow:nth-child(odd) .TableRowColumn, .FullWidthPostRow:nth-child(4n+2) {
	background-color: #0F8BBF;
}

.FullWidthTableRow:nth-child(even) .TableRowColumn, .FullWidthPostRow:nth-child(4n+0) {
	background-color: #0D78A5;
}

.FullWidthTableRow:hover .TableRowColumn {
	background-color: #45B0DF;
}
.TableHeadColumn:first-child, .TableRowColumn:first-child {
	margin-left: -4px;
}

.membersListColumn1 {
	width: 50%;
}

.membersListColumn2 {
	width: 25%;
}

.membersListColumn3 {
	width: 25%;
}

.forumHomeColumn1 {
	width: 60%;
}

.FullWidthTableRow .forumHomeColumn1 {
	padding-top: 1px;
}

.forumHomeColumn2 {
	width: 5%;
}

.FullWidthTableRow .forumHomeColumn2 {
	padding-top: 8px;
}

.forumHomeColumn3 {
	width: 5%;
}

.FullWidthTableRow .forumHomeColumn3 {
	padding-top: 8px;
}

.forumHomeColumn4 {
	width: 29%;
}

.FullWidthTableRow .forumHomeColumn4 {
	padding-top: 1px;
}

.forumThreadsColumn1 {
	width: 40%;
}

.forumThreadsColumn2 {
	width: 24%;
}

.forumThreadsColumn3 {
	width: 25%;
}

.forumThreadsColumn4 {
	width: 5%;
}

.forumThreadsColumn5 {
	width: 5%;
}

.forumHomeMultilineText {
	font-size: 12px;
}

#controlPanelNav, #controlPanelNav2 {
	display: inline-block;
	width: 14%;
	border-right: 1px solid #000000;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

#controlPanelNav2 {
	overflow: scroll;
}

#controlPanelContent, #controlPanelContent2 {
	display: inline-block;
	width: 85%;
	padding: 3px;
	min-height: 135px;
	height: 100%;
	margin-left: 14%;
	position: relative;
}

.controlPanelNavItem {
	width: 95%;
	height: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
	margin-bottom: 3px;
	background-color: #003366;
	color: #FFFFFF;
	padding-top: 3px;
}

.controlPanelNav2Item {
	width: 85%;
	float: left;
	height: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #003366;
	color: #FFFFFF;
	padding-top: 3px;
}

.CPNav2Funcs {
	width: 15px;
	height: 25px;
	float: left;
}
.CPNav2Func {
	width: 15px;
	height: 12px;
	display: block;
}

.CPNav2Cont {
	width: 95%;
	height: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.floatLeft {
	float:left;
	text-align: left;
	padding-left: 5px;
}

.floatRight {
	float:right;
	text-align: right;
	padding-right: 5px;
}

.pageChangeBtns {
	color: #FFFFFF;
	font-size: 14px;
	margin-top: 20px;
	width: 98%;
	height: 52px;
	margin-left: auto;
	margin-right: auto;
}

.nextPageButton {
	display: block;
	background-color: #0F8BBF;
	float: left;
	width: 100px;
	height: 25px;
	padding: 10px 10px 15px 10px;
	border: 1px solid #000000;
}

.midButton {
	display: block;
	background-color: #0F8BBF;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 25px;
	padding: 17px 10px 8px 10px;
	border: 1px solid #000000;
}

.backPageButton {
	display: block;
	background-color: #0F8BBF;
	float: right;
	width: 100px;
	height: 25px;
	padding: 10px 10px 15px 10px;
	border: 1px solid #000000;
}

.pageChangeBtns a:hover{
	background-color: #0D78A5;
}

.blogCommentTextArea {
	width: 90%;
	height: 100px;
}

.newBlogEntryTextArea {
	width: 90%;
	height: 100px;
}